#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#page-teacher-list main {
  margin: 3.2rem auto;
  width: 90%;
}

#search-teachers {
  margin-top: 3.6rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers button {
  width: 100%;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  cursor: pointer;
  border-radius: 0.8rem;
  font: 700 1.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5.6rem;
  margin-top: 3.2rem;
  transition: 0.2s;
}

#search-teachers button:hover {
  background: var(--color-secundary-dark);
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.6rem;
    position: absolute;
    bottom: -28px;
  }

  #search-teachers .input-block + .input-block,
  #search-teachers .select-block + .select-block {
    margin-top: 0;
  }

  #page-teacher-list main {
    padding: 3.2rem 0;
    max-width: 720px;
    margin: 0 auto;
  }

  #search-teachers button {
    justify-content: center;
    width: 100%;
    font-size: 1.6rem;
  }

}
