.page-header {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  color: var(--color-title-in-prima);
}

.page-header .top-bar-container > img {
  height: 1.6rem;
}

.page-header .top-bar-container > a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.page-header .top-bar-container > a:hover {
  opacity: 0.6;
}

.page-header .header-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 3.2rem auto;
}

.page-header .header-content strong {
  line-height: 4.6rem;
  font: 700 3.6rem Archivo;
  color: var(--color-title-in-primary);
}

@media (min-width: 700px) {
  .page-header {
    height: 34rem;
  }

  .page-header .top-bar-container {
    max-width: 1000px;
  }

  .page-header .header-content {
    flex: 1;
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .page-header .header-content strong {
    width: 340px;
  }
}
